<section class="todoapp">
  <header class="header">
    <h1>Tasks</h1>
    <input (keyup.enter)="addTask(newTask)" [(ngModel)]="newTask.text" autofocus="" class="new-todo"
           placeholder="What needs to be done?">
  </header>
  <section *ngIf="tasks.length > 0" class="main">
    <ul class="todo-list">
      <li *ngFor="let task of tasks" [class.completed]="task.done">
        <div class="view">
          <input (click)="toggleTaskComplete(task)" [checked]="task.done" class="toggle" type="checkbox">
          <label>{{task.text}}</label>
          <button (click)="removeTask(task)" class="destroy"></button>
        </div>
      </li>
    </ul>
  </section>
  <footer *ngIf="tasks.length > 0" class="footer">
    <span class="todo-count"><strong>{{tasks.length}}</strong> {{tasks.length == 1 ? 'item' : 'items'}} left</span>
  </footer>
</section>
